# Configuration for overlay programs (overlays located below main program)

# The overlay files are raw binary files so use AppleCommander like this:
# java -jar ac.jar -as mydisk.dsk myprog       < myprog
# java -jar ac.jar -p  mydisk.dsk myprog.1 bin < myprog.1
# java -jar ac.jar -p  mydisk.dsk myprog.2 bin < myprog.2
# java -jar ac.jar -p  mydisk.dsk myprog.3 bin < myprog.3
# ...

FEATURES {
    STARTADDRESS: default = $0803;
}
SYMBOLS {
    __EXEHDR__:      type = import;
    __FILETYPE__:    type = weak, value = $0006; # ProDOS file type
    __STACKSIZE__:   type = weak, value = $0800; # 2k stack
    __HIMEM__:       type = weak, value = $9600; # Presumed RAM end
    __LCADDR__:      type = weak, value = $D400; # Behind quit code
    __LCSIZE__:      type = weak, value = $0C00; # Rest of bank two
    __OVERLAYSIZE__: type = weak, value = $1000; # 4k overlay
}
MEMORY {
    ZP:     file = "", define = yes, start = $0080,                size = $001A;
    HEADER: file = %O,               start = %S - $003A,           size = $003A;
    MAIN:   file = %O, define = yes, start = %S + __OVERLAYSIZE__, size = __HIMEM__ - __OVERLAYSIZE__ - %S;
    BSS:    file = "",               start = __ONCE_RUN__,         size = __HIMEM__ - __STACKSIZE__ - __ONCE_RUN__;
    LC:     file = "", define = yes, start = __LCADDR__,           size = __LCSIZE__;
    LOW:    file = "", define = yes, start = $0800,                size = %S - $0800;
    OVL1:   file = "%O.1",           start = %S,                   size = __OVERLAYSIZE__;
    OVL2:   file = "%O.2",           start = %S,                   size = __OVERLAYSIZE__;
    OVL3:   file = "%O.3",           start = %S,                   size = __OVERLAYSIZE__;
    OVL4:   file = "%O.4",           start = %S,                   size = __OVERLAYSIZE__;
    OVL5:   file = "%O.5",           start = %S,                   size = __OVERLAYSIZE__;
    OVL6:   file = "%O.6",           start = %S,                   size = __OVERLAYSIZE__;
    OVL7:   file = "%O.7",           start = %S,                   size = __OVERLAYSIZE__;
    OVL8:   file = "%O.8",           start = %S,                   size = __OVERLAYSIZE__;
    OVL9:   file = "%O.9",           start = %S,                   size = __OVERLAYSIZE__;
}
SEGMENTS {
    ZEROPAGE: load = ZP,             type = zp;
    EXEHDR:   load = HEADER,         type = ro,                optional = yes;
    STARTUP:  load = MAIN,           type = ro,  define = yes;
    LOWCODE:  load = MAIN,           type = ro,                optional = yes;
    CODE:     load = MAIN,           type = ro;
    RODATA:   load = MAIN,           type = ro;
    DATA:     load = MAIN,           type = rw;
    INIT:     load = MAIN,           type = rw;  # uninitialized, but reserves output space
    ONCE:     load = MAIN,           type = ro,  define = yes;
    LC:       load = MAIN, run = LC, type = ro,                optional = yes;
    BSS:      load = BSS,            type = bss, define = yes;
    LOWBSS:   load = LOW,            type = bss,               optional = yes;
    OVERLAY1: load = OVL1,           type = ro,  define = yes, optional = yes;
    OVERLAY2: load = OVL2,           type = ro,  define = yes, optional = yes;
    OVERLAY3: load = OVL3,           type = ro,  define = yes, optional = yes;
    OVERLAY4: load = OVL4,           type = ro,  define = yes, optional = yes;
    OVERLAY5: load = OVL5,           type = ro,  define = yes, optional = yes;
    OVERLAY6: load = OVL6,           type = ro,  define = yes, optional = yes;
    OVERLAY7: load = OVL7,           type = ro,  define = yes, optional = yes;
    OVERLAY8: load = OVL8,           type = ro,  define = yes, optional = yes;
    OVERLAY9: load = OVL9,           type = ro,  define = yes, optional = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
