FEATURES {
    STARTADDRESS: default = $0200;
}
SYMBOLS {
# If you want ld65 to output a loadable-format file by default, then uncomment
# the next line. (Then, "-u __BOOT__" wouldn't be needed on the command line.)
#    __BOOT__:      type = import;
    __STACKSIZE__: type = weak, value = $0400; # 1 kB stack
    __HIMEM__:     type = weak, value = $8000; # 32 kB RAM
}
MEMORY {
    # for size of ZP, see runtime/zeropage.s and c1p/extzp.s
    ZP:       file = "", define = yes, start = $0002, size = $001A + $0020;
    HEAD:     file = %O,               start = $0000, size = $00B6;
    RAM:      file = %O, define = yes, start = %S, size = __HIMEM__ - __STACKSIZE__ - %S;
}
SEGMENTS {
    BOOT:     load = HEAD, type = ro,                optional = yes;
    STARTUP:  load = RAM,  type = ro;
    LOWCODE:  load = RAM,  type = ro,                optional = yes;
    INIT:     load = RAM,  type = ro,  define = yes, optional = yes;
    CODE:     load = RAM,  type = rw;
    RODATA:   load = RAM,  type = rw;
    DATA:     load = RAM,  type = rw;
    BSS:      load = RAM,  type = bss, define = yes;
    ZEROPAGE: load = ZP,   type = zp;
    EXTZP:    load = ZP,   type = zp,  define = yes, optional = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = INIT;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
}
