# supervision 16kbyte cartridge

# ld65 config file
# ld65 --config supervision16.cfg -o <prog>.bin <prog>.o

SYMBOLS {
    __STACKSIZE__: type = weak, value = $0100; # 1 page stack
}
MEMORY {
    ZP:       file = "", start = $0000, size = $0100;
    CPUSTACK: file = "", start = $0100, size = $0100;
    RAM:      file = "", start = $0200, size = $1E00 - __STACKSIZE__;
    VRAM:     file = "", start = $4000, size = $2000;
    ROM:      file = %O, start = $C000, size = $4000, fill = yes, fillval = $ff, define=yes;
}
SEGMENTS {
    LOWCODE:  load = ROM,            type = ro,                optional = yes;
    INIT:     load = ROM,            type = ro,  define = yes, optional = yes;
    CODE:     load = ROM,            type = ro,  define = yes;
    RODATA:   load = ROM,            type = ro,  define = yes;
    DATA:     load = ROM, run = RAM, type = rw,  define = yes;
    FFF0:     load = ROM,            type = ro,  offset = $3FF0;
    VECTOR:   load = ROM,            type = ro,  offset = $3FFA;
    BSS:      load = RAM,            type = bss, define = yes;
    ZEROPAGE: load = ZP,             type = zp,  define = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = INIT;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
