body {
    font-family:        arial, helvetica, sans-serif;
    font-size:          100%;
    text-align:         justify;
    margin-left:        110px;
    margin-top:         10px;
    margin-right:       30px;
    margin-bottom:      10px;
    color:              #000000;
    background-image:   url(image/cc65-bg.png);
    background-repeat:  repeat-y;
    background-color:   #FFFFFF;
}
a:active {
    color:              #FF0000;
    text-decoration:    underline;
}
a:link {
    color:              #0000FF;
    text-decoration:    underline;
}
a:visited {
    color:              #000080;
    text-decoration:    underline;
}

/* title menu */
div#menu {
    width:              100%;
    padding:            0px;
    border-top:         1px solid #808080;
    border-bottom:      1px solid #808080;
}
div#innermenu {
    display:            table;
    margin-left:        auto;
    margin-right:       auto;
    padding:            0px;
}
div#menu ul {
    margin:             0px;
    padding:            4px;
    list-style-type:    none;
    white-space:        nowrap;
}
div#menu li {
    display:            inline;
}
div#menu a {
    margin:             0px 3px 0px 3px;
    padding:            1px 1em 1px 1em;
    border:             1px solid #303030;
    text-decoration:    none;
    width:              160px;
}
div#menu a:link, div#menu a:visited, div#menu a:active {
    background-color:   #909090;
    color:              #000000;
}
div#menu a:hover {
    color:              #DB3232;
    background-color:   #FFFFFF;
}
li#here a:link, li#here a:visited, li#here a:active {
    background-color:   #909090;
    color:              #DB3232;
}
li#here a:hover {
    background-color:   #909090;
    color:              #DB3232;
}

h1 {
    text-align:         left;
    font-size:          250%;
    font-weight:        bold;
    font-style:         italic;
    text-shadow:        2px 2px 6px #505050;
    letter-spacing:     2px;
    color:              #DB3232;
    padding-top:        40px;
}

h2 {
    text-align:         left;
    font-size:          160%;
    font-weight:        bold;
    font-style:         italic;
    text-shadow:        2px 2px 6px #303030;
    letter-spacing:     1px;
    color:              #DB3232;
    margin-top:         2em;
    margin-bottom:      1em;
}

p {
    clear:              both;
}

pre {
    font-family:        monospace;
}

a img {
    border:             0px;
}

ul.bullet {
    margin-left:        2%;
    list-style-image:   url(image/dot.png);
}

ul.down {
    margin-left:        2%;
    list-style-image:   url(image/downtria.png);
}

ul.right {
    margin-left:        2%;
    list-style-image:   url(image/triangle.png);
}

ul ul {
    list-style-image:   none;
}

/* box made like a banner */
div.banner {
    border:             2px solid #808080;
    width:              80%;
    clear:              both;
    padding-left:       2em;
    padding-right:      2em;
    padding-top:        1em;
    padding-bottom:     1em;
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         1em;
    margin-bottom:      1em;
}
