#################################################################################
#                                                                               #
# LOADER.SYSTEM - an Apple][ ProDOS 8 loader for cc65 programs (Oliver Schmidt) #
#                                                                               #
#################################################################################

MEMORY {
    MEMORY_2000: start = $2000, size = $0300, file = %O;
    MEMORY_0280: start = $0280, size = $0180;
}

SEGMENTS {
    CODE_2000: load = MEMORY_2000,                    type = ro;
    DATA_2000: load = MEMORY_2000,                    type = rw;
    CODE_0280: load = MEMORY_2000, run = MEMORY_0280, type = ro, define = yes;
    DATA_0280: load = MEMORY_2000, run = MEMORY_0280, type = rw, define = yes;
}
